<ion-card>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
        <ion-avatar style="margin: 1rem auto;">
          <img src="https://firebasestorage.googleapis.com/v0/b/ion-tweet.appspot.com/o/User.png?alt=media&token=354a3df9-6b71-45a7-b136-46afc570f340" alt="user_photo"/>
        </ion-avatar>
      </ion-col>

      <ion-col size="10">
        <div *ngIf="!editing">
          <ion-card-header>
            <ion-card-title>{{ tweet.userId }}</ion-card-title>
            <ion-card-subtitle>{{ tweet.description }}</ion-card-subtitle>
          </ion-card-header>
      
          <ion-card-content>
            <img *ngIf="tweet.image" src="tweet.image" alt="tweet_image">            
            <br/>
            <ion-button *ngIf="isAuthor()" color="primary" (click)="editing=!editing">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>

            <ion-button *ngIf="isAuthor()" color="danger" (click)="deleteTweet()">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>

            <ion-button color="light" (click)="likeTweet()">
              <ion-icon *ngIf="likeButton; else notLike" name="heart"></ion-icon>
              <ng-template #notLike>
                <ion-icon name="heart-outline"></ion-icon>
              </ng-template>
              {{ tweet.likes }}
            </ion-button>

          </ion-card-content>
        </div>

        <div *ngIf="editing">
          <ion-card-content>
            <form (ngSubmit)="addOrEditTweet()">
              <ion-item>
                  <ion-textarea [(ngModel)]="tweet.description" name="description" placeholder="What is happening?"></ion-textarea>
              </ion-item>
              <br/>
              <img *ngIf="tweet.image" src="tweet.image" alt="tweet_image">            
              <br/>
              <ion-button type="submit">
                tweet!
              </ion-button>
              <ion-button color="medium">
                <ion-icon name="image-outline"></ion-icon>
              </ion-button>
            </form>    
          </ion-card-content>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>  
</ion-card>